[run]
source = HungarianAlgorithm
include = */HungarianAlgorithm/*,
omit =
    */python?.?/*
    */examples.py
    *__init__*
    */test/*
    */z_*

[report]
include = */HungarianAlgorithm/*,
omit =
    */python?.?/*
    */examples.py
    *__init__*
    */test/*
    */z_*